<div class="container">
  <h1>Contact</h1>

  <ul class="social-media">
    <li><a href="https://www.linkedin.com/in/ashikur-rahmam-nabir-381085a7" target="blank"><i class='bx bxl-linkedin'></i></a></li>
    <li><a href="https://github.com/ashike12" target="blank"><i class='bx bxl-github'></i></a></li>
    <li><a href="https://www.facebook.com/ashikur.rahmannabir/" target="blank"><i class='bx bxl-facebook-circle'></i></a></li>
  </ul>

  <ul class="contact-info">
    <li>Mobile: +8801683800976</li>
    <li>ashikur.rahmannabir@gmail.com</li>
  </ul>
</div>
