<div fxFlex="100%" class="container">
  <h1>Work Experience</h1>

  <ul>
    <li *ngFor="let workexp of workExpList">
      <h2>{{workexp.role}}</h2>
      <h3>{{workexp.company}}</h3>
      <h4>{{workexp.duration}}</h4>
      <ul>
        <li *ngFor="let desc of workexp.description">
          <p *ngIf="workexp.role!='Problem Solver'">{{desc}}</p>
          <p class="hover-effect" (click)="goToSite(desc.split(',')[1])" *ngIf="workexp.role=='Problem Solver'">{{desc.split(',')[0]}}{{desc.split(',')[2]}}</p>
        </li>
        <li (click)="openWorkDetails()" class="hover-effect green-color"><p>More details</p></li>
      </ul>
    </li>
  </ul>
</div>
