@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  --green: #f3f7f5;
  --green-light: #ccb9cf;
  --gray-light: #BDBDBD;
  --dark-gray: #363a3c;
  --black: #59605d;
}

* {
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  outline: 0px solid white;
}

h1 {
  padding: 1rem 0;
  text-align: center;
  letter-spacing: 1px;
  color: var(--green);
  outline: 1px solid white;
  font-family: 'Roboto Condensed', sans-serif;
}

.hover-effect:hover {
  color: #69F0AE;
  cursor: pointer;
}

.green-color {
  color: lightblue;
}

.primary-text-color {
  color: #363a3c;
}

.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px !important;
}
.mt-8 {
  margin-top: 8px !important;
}

.cursor-pointer {
  cursor: pointer;
}
